.text-site-light{
    color: #851cfd!important;
}
.btn-bg-light {
    background: linear-gradient(#FDAE8F, #fd1c1c);
}
.btn-bg-dark{
    background: #030812;
}
.btn-bg-secondary{
    background: #3C485D;
}
.btn-radius{
    border-radius: 24px;
}
.radius{
    border-radius: 24px;
}

.text-site-gradient{
    color: #851cfd!important;
}
.bg-site-image{
    height: 80dvh;
    background-size: cover;
    background-image: url("../images/fundal.jpg");
    background-repeat: no-repeat;
    background-position: center;
    
}

.title h2{
    font-size: 50px;
}
.bg-card{
    background: rgba(53, 57, 65, 0.41)!important;
}

.header-title{
    font-size: 48px;
    text-align: center;
}
.header-description{
    font-size: 20px;
}


//Footer

.footer-contact-section {
    display: flex;
    justify-content:center;
    padding: 20px;
}
.footer-contact-section svg {
    fill: white; 
    width: 40px; 
    height: 40px; 
}
.phone, .offices, .mail {
    text-align: center;
}
.line {
    width: 500px;
    height: 2px;
    background-color: white;
    margin: 10px auto;
}
.line.right {
    margin-right: 0;
    margin-left: auto;
}
.detail {
    margin-top: 10px;
}
.detail span, .detail a {
    display: block;
}
@media screen and (max-width: 992px) {
    .bg-site-image{
        background-size: 100%;
        background-position: top;
    }
    .title h2{
        font-size: 40px;
    }
}
//About
.image-container {
    margin-right: 20px;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.text-container {
    padding-left: 20px;
}

.icon-container {
    justify-content: center;
}

.icon-item {
    text-align: center;
    margin-left: 90px;
 
}
.icon-item img {
    width: 100px; 
}
//Gallery
/* Secțiunea Contact Us */
 .contact-us {
    padding: 20px;
  }
  
  .contact-info {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
  }
  
  .address {
    display: block;
    margin-bottom: 5px;
  }
  
  .phone {
    font-weight: bold;
  }
  
  .contact-form {
    width: 822px;
    margin: 0 auto;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom:20px;
  }
  
  .contact-info-map {
    float: right; 
    margin-left: 20px;
    margin-right: 0;
  }
  .form{
    display: flex;
    flex-direction: row;
    color:white;
  }
  .contact-form-image{
    float: right; 
    margin-top: 70px;
    margin-left: 96px;
    margin-right: 0;
  }